body {
  margin: 0;
  overflow-x: hidden;
}



div {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}




header {
  display: flex; 
  align-items: center; 
  justify-content: center;
  min-height: 80vh; 
  margin:auto;
}


@media screen and (min-width:40em) {
 body { 
 margin: 0; 
}
}